h2 {
  color: black;
}

body.dark-mode h2 {
  color: white;
}

p {
  margin: 10px 0;
}

body.dark-mode p {
  color: white;
}

.characterImg {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
